.card {
  background: white;
  box-shadow: 0 4px 12px #ebebeb;
  width: 340px;
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 56px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  /* background: linear-gradient(#eee,#ddd); */
  object-fit: cover;
  padding: 4px;
}

.save {
  border: 1.5px solid #dadada;
  padding: 4px 8px;
  background: none;
  border-radius: 4px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.center h3, .center h2 {
  font-weight: 600;
  color: #222;
  letter-spacing: -0.02em;
}

.center h3 span {
  font-size: 14px;
  opacity: 0.6;
  font-weight: 500;
}

.center .pills {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  gap: 8px;
  padding-block: 4px;
}

.center .pills .pill {
  padding: 4px 8px;
  background: #eee;
  border-radius: 3px;
}

.bottom {
  border-top: 2px solid #e4e4e4;
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.salary {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.location {
  font-size: 12px;
  color: #888888;
}

.apply {
  padding: 12px 24px;
  background: #111;
  color: #ebebeb;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}