@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #242424;
  color: whitesmoke;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 36px;
  gap: 30px;
}

.nav.light {
  background: seagreen;
}

.nav.dark {
  background: darkolivegreen;
}

.nav2 {
  display: flex;
  gap: 30px;
}