@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #0c0c18;
  color: white;
}

input {
  margin: 10px;
}

.box {
  width: 200px;
  height: 200px;
  background: crimson;
  margin: 20px;
}

.page1 {
  width: 100%;
  height: 100vh;
  background: #111;
}
.page2 {
  width: 100%;
  height: 100vh;
  background: #222;
}
.page3 {
  width: 100%;
  height: 100vh;
  background: #333;
}