@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter Tight', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #1e1e1e;
  color: whitesmoke;
  padding: 16px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 325px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 8px;
  border: 2px solid #eaeaea60;
  border-radius: 12px;
  background: #222;
}

.card img {
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.card span.title {
  font-size: 28px;
  font-weight: 600;
}

.card p {
  letter-spacing: 0.05em;
  font-size: 14px;
  text-align: center;
}

.card button {
  padding: 12px 28px;
  border-radius: 8px;
  background: #fff;
  color: #1e1e1e;
  font-size: 15px;
  border: none;
  outline: none;
  font-weight: 500;
}