@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #1e1e1e;
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 30px;
  padding: 20px;
}

input {
  padding: 14px 28px;
  font-size: 16px;
  background: rgb(209, 220, 255);
  color: white;
  border-radius: 6px;
  border: none;
}

input:focus {
  outline: 2px solid royalblue;
  outline-offset: 4px;
}

button {
  border: none;
  outline: none;
  background: royalblue;
  padding: 16px 32px;
  border-radius: 6px;
  color: whitesmoke;
  font-size: 16px;
  cursor: pointer;
}