@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Inter Tight', sans-serif;
}

body {
  background: #1e1e1e;
  color: #eaeaea;
  padding: 20px;
}

.card {
  background: #9c0a28;
  padding: 20px;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}